.parentHeaderDiv{
    width:100%;
    background-color: blue;
    height: 54px;
}

.subHeaderDiv{
    width:100%;
    background-color: black;
    height: 94%;
}

.secondHeaderDiv{
    width:100%;
    background-color: brown;
    height: 44px;
}

.leftPanel{
    width: 33.33%;
    height: 702px;
    position: absolute;
    left: 0px;
    background-color: rgba(211, 198, 198, 0.342);
}

.middlePanel{
    position: absolute;
    left: 33.33%;
    right: 33.33%;
    height: 702px;
}

#drag1,#drag2{
    position: absolute;
    width: 8px;
    height: 100%;
    cursor: w-resize;
}

/* .links line {
    stroke: #999;
    stroke-opacity: 0.6;
}
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
} */

.rightPanel{
    position: absolute;
    right: 0px;
    width: 33.33%;
    height: 702px;
    background-color: rgba(211, 198, 198, 0.342);
}
